{% extends "layout.html" %}

{% block title %}
    {{bookInfo[0]['title']}}
{% endblock %}

{% block content %}

    <div class="row book-container">
		<div class="col-sm-12" align="left"><h1>{{bookInfo[0]['title']}}</h1></div>
        <div class="col-sm-3">
			{% if 'douban' in bookInfo[1] and bookInfo[1]['douban'] %}
				<img src="{{bookInfo[1]['douban']['pic']}}" width="100%" referrerpolicy ="never"> 
			{% else %}
				<img width="100%" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAD0AAABYCAMAAABxhQ8yAAAAM1BMVEX///+ysrLb29v8/Pzr6+vp6en39/evr6/h4eHx8fHe3t6/v7/T09O7u7vMzMzk5OTGxsalfPg5AAABOklEQVRYhe2Xi26EIBBFcZwRWV7+/9cWi2sR8Mk21erRxcR4cgcMuDCk4yCjpj5K4+yaHaVGhje1n1G7l132vj9s+6nrjnqc+Y0jb0f9JqkdMkOXFJnYRlq3VKGY0teB2qxVbky6/HgYQx1XH2UTT2vWHsXEmm14NQcXWZuK7LLsT9vc8d0MeLvd1m/ZviaoJTvJltMvG8Iue6bfRXa12eYT9mYD/iA6vjPbBKPeyiHbbq+8igsvH/NK/IYtrIMsdss22AFypxhtAo+cf929rSAARxv9jdedbLps5WexuyW7XrFhcZZc126KbKUhtWmjDZPkvdkGcnaYDfq9jvIYCVk7zAZQnvjRDDl7O//BpvWHE2i0338nd/Hnu7lT7SwuYz+798d+7HPbx0EmBPYnIqH/Bc3QRpfxivgF4GQjuZBHoAAAAAAASUVORK5CYII="> 
			{% endif %}
		</div>
        <div class="col-sm-9" align="left">
            <h4>Author: {{bookInfo[0]['author']}}</h4>
            <h5>Publication year: {{bookInfo[0]['year']}}</h5>
            <h5>ISBN-10: {{bookInfo[0]['isbn']}}</h5>
			
			<!--DOUBAN INFO -->
			{% if 'douban' in bookInfo[1] and bookInfo[1]['douban'] %}
				<h5>
					<a href="{{bookInfo[1]['douban']['url']}}" target="_blank" >Douban Page</a>
				</h5>
				{% if bookInfo[1]['douban']['more'] %}
					<h5>Nunber of reviews: {{bookInfo[1]['douban']['more']['rating']['numRaters']}}</h5>
					<h5>Average rating: {{bookInfo[1]['douban']['more']['rating']['average']}}</h5>
					<h5>Summary: </h5>
					<p>{{bookInfo[1]['douban']['more']['summary']}}</p>
				{% else %}
					<p>Douban rate limit exceeded..</p>
				{% endif %}
			{% else %}
				<h2>No Douban data yet.</h2>
			{% endif %}
        </div>
        
    </div>
    <div class="dropdown-divider"></div>

    <div>
		{% if not commented %}
		<h2 align="left"><i>Leave Your Review Here...</i></h2>
        <!-- REVIEW FORM -->
		
        <form method="POST" class="form-border">
            <div class="form-row">
                <div class="form-group col-sm" align="left">
                    <label for="rating">Rate this book: &nbsp&nbsp&nbsp&nbsp&nbsp </label>
                    <select id="rating" name="rating" class="form-control">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
						<option selected value="0"></option>
                    </select>
                </div>
                <div class="form-group col-sm-12">
                    <div class="input-group">
						<label for="review">Review this book: &nbsp&nbsp </label>
                        <textarea name="comment" id="comment" class="form-control" rows="1" placeholder="Enter your review here..." ></textarea>
                    </div>
                </div>
                <div class="form-group col-sm">
                    <button class="btn btn-success" type="submit">Submit</button>
                </div>
            </div>
        </form>
		{% endif %}
		
		<div class="dropdown-divider"></div>
		<h2 align="left"><i>Users Who Have Read the Book...</i></h2>
		<div class="dropdown-divider"></div>
		
        <!-- REVIEW LIST -->
        <div id="userReviews">
            <h2></h2>
            {% for review in reviews %}
            <div class="dropdown-divider"></div>
            <div class="review p-5">
                <div class="row d-flex">
                    <div class="profile-pic"><img src="https://i.imgur.com/Mcd6HIg.jpg" width="60px" height="60px"></div>
                    <div class="d-flex flex-column pl-3">
						{% if uid != review['user_id'] %}
							<h4 class="mb-1" align="left" style="color:burlywood">{{review['username']}}</h4>
						{% else %}
							<h4 class="mb-1" align="left" style="color:burlywood"><b>You</b></h4>
						{% endif %}
                        <p class="grey-text">{{review['time']}}</p>
                    </div>
                </div>
                <div class="row pb-3">
					{% if review['rating']%}
						{% for i in range(review['rating'] | int) %}
							<div class="fa fa-star" style="color: orange;"></div>
						{% endfor %}
						
						{% for i in range(5 - review['rating'] | int) %}
							<div class="fa fa-star"></div>
						{% endfor %}
					{% else %}
						<i>This user did not leave a rating.</i>
					{% endif %}
                </div>
                <div class="row pb-3">
					{% if review['comment']%}
						<p align="left">{{review['comment']}}</p>
					{% else %}
						<i>This user did not leave a comment.</i>
					{% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
	
	
{% endblock %}