<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="../static/style.css">
	<link rel="stylesheet" href="../static/footer.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>SerBoo: {% block title %}{% endblock %}</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light border">
        <a class="navbar-brand" style="color:gr" href="/">SerBoo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarNavDropdown">
			<form class="form-inline" action="/search" method="GET">
				<input class="form-control mr-sm-2" type="text" name="book" placeholder="ISBN, Title or Author" aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search Book！</button>
			</form>
            {% if session.user_id %}
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="#">Hello! {{ session.user_name }}</a></li>
                    <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
                </ul>
            {% else %}
                <ul class="navbar-nav ml-auto">
					<button type="button" class="btn btn-outline"><a class="nav-link" href="/login"><b>Log in</b></a></button>
					<button type="button" class="btn btn-success my-2 my-sm-0"><a class="nav-link" href="/register"><b>Sign up</b></a></button>
                </ul>
            {% endif %}
        </div>
    </nav>

    {% if get_flashed_messages() %}
        <div class="alert alert-info text-center" role="alert">
            {{ get_flashed_messages() | join(" ") }}
        </div>
    {% endif %}

    <main class="container p-5" style="margin-bottom: 100px; margin-top: 50px;">
        {% block content %}
        {% endblock %}
    </main>
	
	<footer class="site-footer bd-footer text-muted">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>About</h6>
            <p class="text-justify">This website provide 5000 books information for users to search and label. You can search book login-free. After log in, you can leave a review about certain books. If you don't want to review, just label the book as <i>READ</i>. Feel free to explore!</p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Categories</h6>
            <ul class="footer-links">
              <li><a href="/">Search a book</a></li>
              <li><a href="/search?lucky=True">Choose a book by GOD</a></li>
              <li><a href="/api">API</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Quick Links</h6>
            <ul class="footer-links">
              <li><a href="mailto:wzywzy@mail.dlut.edu.cn">Contact Us</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by 
         <a href="https://github.com/ESWZY">ESWZY</a>.
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
            </ul>
          </div>
        </div>
      </div>
	</footer>
</body>



</html>